@media (max-width:2560px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.4em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 42.2%;
        padding: 0px;
        position: relative;
        left: 84em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 90.5%;
        position: relative;
        left: 6em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 6em;
        width: 90.5%;
    }
 
 }

 @media (max-width:2200px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.4em;
		margin: 0 150px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 51.5%;
        padding: 0px;
        position: relative;
        left: 58em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 90.5%;
        position: relative;
        left: 6em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 6em;
        width: 90.5%;
    }
 
 }

 @media (max-width:1920px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.4em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 56.5%;
        padding: 0px;
        position: relative;
        left: 41em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 81.5%;
        position: relative;
        left: 11em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 11em;
        width: 81.5%;
    }
 
 }

 @media (max-width:1680px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.4em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 59.2%;
        padding: 0px;
        position: relative;
        left: 42em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 81.5%;
        position: relative;
        left: 11em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 11em;
        width: 81.5%;
    }
 
 }

@media (max-width:1520px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.4em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 72.1%;
        padding: 0px;
        position: relative;
        left: 24em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 81.5%;
        position: relative;
        left: 11em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 11em;
        width: 81.5%;
    }
 
 }

 @media (max-width:1440px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.4em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 67.9%;
        padding: 0px;
        position: relative;
        left: 25em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 81.5%;
        position: relative;
        left: 11em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 11em;
        width: 81.5%;
    }
 
 }
 
 @media (max-width:1200px){

	#name-emp {
		font-size: 3.4em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 90%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 81.5%;
        padding: 0px;
        position: relative;
        left: 11em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 81.5%;
        position: relative;
        left: 11em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 11em;
        width: 81.5%;
    }
 
 }
 
 @media (max-width:992px){
 
	html{
	   font-size: 55%;
	}

	#name-emp {
		font-size: 3.8em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 100%;
	}

	#logo {
		margin-top: -45px;
		width: 18%;
	}

    .inftxt {
        text-align: center;
        margin: 0.5em;
    }

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 90%;
        padding: 0px;
        position: relative;
        left: 3em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 100%;
        position: relative;
        left: 0;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 0;
        width: 100%;
    }
 
 }
 
 @media (max-width:768px){
 
	#menu-btn{
	   display: inline-block;
	   transition: .2s linear;
	}
 
	#menu-btn.fa-times{
	   transform: rotate(180deg);
	}
 
	.header .flex .navbar{
	   position: absolute;
	   top:99%; left:0; right:0;
	   background-color: var(--blue);
	   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	   transition: .2s linear;
	}
 
	.header .flex .navbar.active{
	   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
 
	.header .flex .navbar a{
	   margin:2rem;
	   display: block;
	   text-align: center;
	   font-size: 2.5rem;
	}
 
	.display-product-table{
	   overflow-x: scroll;
	}
 
	.display-product-table table{
	   width: 90rem;
	}

	#logo {
        margin-top: -37px;
        width: 22%;
	}

	#name-emp {
		font-size: 3.8em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
        margin-top: 25px;
        padding: 0;
        width: 95%;
	}

    .inftxt {
        text-align: center;
        margin: 0.5em;
    }

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 89.5%;
        padding: 0px;
        position: relative;
        left: 4em;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 89.5%;
        position: relative;
        left: 4em;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 4em;
        width: 89.5%;
    }

    .logo_config_user {
        width: 11%;
      }

      .config_options {
        width: 80%;
        height: 20%;
        background: #fdfdfd;
        margin: 0 10% 0 10%;
    }
 
 
 }
 
 @media (max-width:450px){
 
	html{
	   font-size: 50%;
	}
 
	.heading{
	   font-size: 3rem;
	}
 
	.products .box-container{
	   grid-template-columns: 1fr;
	}

	#logo {
		margin-top: -22px;
		width: 27%;
	}

	#name-emp {
		font-size: 3.8em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 100%;
	}

    .inftxt {
        text-align: center;
        margin: 0.5em;
    }

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 100%;
        padding: 0px;
        position: relative;
        left: 0;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 100%;
        position: relative;
        left: 0;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 0;
        width: 100%;
    }

    .logo_config_user {
        width: 20%;
      }

      .config_options {
        width: 95%;
        height: 20%;
        margin: 0 0 0 5%;
        background: #fdfdfd;
    }
 
 }

 @media (max-width:375px){
 
	html{
	   font-size: 50%;
	}
 
	.heading{
	   font-size: 3rem;
	}
 
	.products .box-container{
	   grid-template-columns: 1fr;
	}

	#logo {
		margin-top: -13px;
		width: 27%;
	}

	#name-emp {
		font-size: 3.8em;
		margin: 0 20px 0 0;
		cursor: pointer;
	}

	#banner {
		margin-top: 25px;
		padding: 0;
		width: 100%;
	}

    .inftxt {
        text-align: center;
        margin: 0.5em;
    }

    .barra {
        background-color: white;
        box-shadow: 0 5px 10px rgba(0,0,0,.1);
        width: 100%;
        padding: 0px;
        position: relative;
        left: 0;
    }

    .box-title-id {
        font-size: 3em;
        text-align: center;
    }

    .hr-category {
        background-color: var(--cor-padrao);
        margin-bottom: 25px;
        padding: 1px;
        width: 100%;
        position: relative;
        left: 0;
    }

    .products .box-container .box {
        display: flex;
        padding: 2rem;
        box-shadow: var(--box-shadow);
        border: var(--border);
        position: relative;
        border-radius: 1.8rem;
        left: 0;
        width: 100%;
    }

    .logo_config_user {
        width: 20%;
      }

      .config_options {
        width: 95%;
        height: 20%;
        margin: 0 0 0 5%;
        background: #fdfdfd;
    }
 
 }