:root {
    --cor-padrao: rgb(230, 59, 44);
    --cor-secundaria: rgb(40, 167, 69);
    --font-primaria: 'Roboto', arial;
	--blue:#2980b9;
   --red:rgb(21, 133, 21);
   --orange:orange;
   --black:#333;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #e7e7e7;
}

/* Parte 1 */

li {
    list-style-type: none;
}

input[type=radio] {
    width: 30px;
    height: 30px;
}

.padding-box-card {
	margin: 0 0 100px 0;
}

.name-menu {
	font-size: 2em;
}

.box-all {
	cursor: pointer;
}

.tm {
	cursor: pointer;
	font-size: 4em;
}

.tm2 {
	cursor: pointer;
	font-size: 4em;
	margin: 20px 8px 0px 8px;
}

.tm::before {
	cursor: pointer;
	vertical-align: -1em;
}

.tm-inf {
	cursor: pointer;
	font-size: 3em;
}

.tm-inf::before {
	vertical-align: 1em;
}

.tm-final {
	font-weight: 500;
	text-decoration: none;
	margin-left: 25px;
	cursor: pointer;
	font-size: 2em;
	color: #227adf;
}


.tm-final:hover {
	text-decoration: underline;
}


.tm-final2 {
	font-weight: 500;
	text-decoration: none;
	margin-left: 5px;
	cursor: pointer;
	font-size: 2em;
	color: #227adf;
}

.tm-final2:hover {
	text-decoration: underline;
}

.tm-final-not {
	font-weight: 500;
	text-decoration: none;
	margin-left: 5px;
	cursor: pointer;
	font-size: 2em;
	color: #227adf;
}

#bk {
    background-color: var(--cor-padrao);
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#bkheader {
	background-color: var(--cor-padrao);
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	color: var(--white);
	border-bottom: none;
}

#bkfooter {
	background-color: var(--white);
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
	padding: 18px;
}

.alert {
	font-size: 1.8em;
}

.alert {
	font-size: 1.8em;
}

  
.footer_none {
	position: relative;
    bottom: 0em;
    width: 100%;
}
  
.espace {
	padding: 20px;
}

.barra {
	background-color: white;
	box-shadow: 0 5px 10px rgba(0,0,0,.1);
	width: 100%;
	padding: 0px;
}

.btn-custom{
	display: block;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: none;
    color: gray;
    font-size: 1.7rem;
    padding: 1.2rem 0;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 0px;
	border-bottom: 2px solid rgb(255, 0, 0);
}

.btn-gray {
	color: gray;
	background-color: lightgray;
}

.btn-red {
	color: red;
}
  

.btn-custom:after {
	background-color: rgba(255, 255, 255);
}

.cat-box {
	margin-bottom: 10px;
}

.barra-botao1 {
	display: inline-block;
	margin-right: 18px;
	color: var(--cor-padrao);
	background-color: white;
	font-size: 2em;
	border: none;
	font-weight: 500;
}

.barra-botao {
	display: inline-block;
	margin-right: 18px;
	color: rgba(0, 0, 0, 0.322);
	background-color: white;
	font-size: 2em;
	border: none;
	font-weight: 500;
}

.hidden {
	display: none;
}

.disabled {
	pointer-events: none;
}

.ultima_finalizar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
}

.menos {
	color: var(--cor-padrao);
}

.mais {
	color: var(--cor-padrao);
}

#bk-tx {
	color: var(--cor-padrao);
}

#bk-all {
	background-color: white;
}

#fim {
	background-color: #25d366;
	border: none;
}

#fim:hover {
	background-color: #25d3659f;
}


#closeCard {
	z-index: 999;
	cursor: pointer;
}

#text-carrinho {
	z-index: 998;
	font-weight: 500;
	font-size: 2em;
	margin-left: -1.5em;
}

#name-emp {
    font-size: 3.8em;
	margin: 0 20px 0 0;
	cursor: pointer;
}
.name {
	display: inline-block;
	font-size: 1.8em;
}

.name-menu {
	display: inline-block;
}


.version {
    position: relative;
    font-size: 1.1em;
    color: white;
	width: 10%;
	margin-top: -29px;
}

.navbar {
	flex-wrap: nowrap;
}

#iconuser {
	cursor: pointer;
}

#banner {
    margin-top: 25px;
    padding: 0;
}

.inftxt {
	text-align: center; 
	margin: .5em;
}

.tm-icon-pag::before {
	font-size: 3em;
	vertical-align: 0;
}

.tm-icon {
	font-size: 3em;
	color: rgba(145, 142, 142, 0.5);
}

.box-title-id {
	font-size: 3em;
	text-align: center;
}

.hr-category {
	background-color: var(--cor-padrao);
    margin-bottom: 25px;
    padding: 1px;
}

.font-p-inf {
	margin-left: 10px;
	font-size: 2em;
}

.info-acompanhamento {
	margin-top: 1em;
}

.info-acompanhamento-2 {
	margin-bottom: 10em;
}

#logo {
    margin-top: -10px;
}

#btn2 {
    color: white;
    text-decoration: none;
    border: none;
}

#btncad {
	color: white;
	text-decoration: none;
	border: none;
}

.user-input {
	border: 2px solid rgba(0, 0, 0, 0);
}


.close {
	font-size: 2em;
}

#bkclose {
	background-color: white;
}

.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
    border: none;
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #999;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 200px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	/* background: #60c7c1; */
	padding: 15px;
}
.modal-login .avatar img {
	width: 100%;
    height: 117px;
    margin-top: -18px;
}

.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #45aba6 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

#loginbtnenter {
	margin: 3px;
}

#textuser1 {
    color: white;
	font-size: 1.8em;
}

#textuser2 {
    color: white;
	font-size: 1.8em;
}

#textuser3 {
    color: white;
	font-size: 1.8em;
}

.form-font {
	font-size: 1.8em;
}

.form-font-2 {
	font-size: 1.2em;
}

.navbar {
	padding: 0;
}

.mx-auto-edit {
	margin: auto;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 90px;
    right: 20px;
	background-color: #25d366;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
  	font-size: 36px;
	box-shadow: 2px 2px 3px #999;
  	z-index: 100;
}

.my-float{
	margin-top: 16px;
}

.cat-box {
	cursor: pointer;
}
 
 .container{
	max-width: 1200px;
	margin:0 auto;
	/* padding-bottom: 5rem; */
 }

.container-custom {
	margin: 2em 0 2em 0;
}
 
 section{
	padding: 1rem 0;
 }
 
 .heading{
	text-align: center;
	font-size: 2.5rem;
	text-transform: uppercase;
	color:var(--black);
	margin-bottom: 2rem;
	margin-top: 2em;
 }
 
 .btn,
 .option-btn,
 .delete-btn{
	display: block;
    width: 100%;
    text-align: center;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1.2rem 3rem;
    border-radius: 3rem;
    cursor: pointer;
    margin-top: 1rem;
 }
 
 .btn:hover,
 .option-btn:hover,
 .delete-btn:hover{
	color: var(--white);
 }
 
 .option-btn i,
 .delete-btn i{
	padding-right: .5rem;
 }
 
 .option-btn{
	background-color: var(--orange);
 }
 
 .delete-btn{
	margin-top: 0;
	background-color: var(--red);
 }
 
 .message{
	background-color: #25d366;
    position: fixed;
    left: 0;
    bottom: 69px;
    right: 0;
    z-index: 1000;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
 }
 
 .message span{
	font-size: 2rem;
	color: var(--white);
 }
 
 .message i{
	font-size: 2.5rem;
	cursor: pointer;
 }
 
 .message i:hover{
	color:var(--red);
 }
 
 .header{
	background-color: var(--blue);
	position: sticky;
	top:0; left:0;
	z-index: 1000;
 }
 

 
 .header .flex .logo{
	margin-right: auto;
	font-size: 2.5rem;
	color:var(--white);
 }
 
 .header .flex .navbar a{
	margin-left: 2rem;
	font-size: 2rem;
	color:var(--white);
 }
 
 .header .flex .navbar a:hover{
	color:yellow;
 }
 
 .header .flex .cart{
	margin-left: 2rem;
	font-size: 2rem;
	color:var(--white);
 }
 
 .header .flex .cart:hover{
	color:yellow;
 }
 
 .header .flex .cart span{
	padding:.1rem .5rem;
	border-radius: .5rem;
	background-color: var(--white);
	color:var(--blue);
	font-size: 2rem;
 }
 
 #menu-btn{
	margin-left: 2rem;
	font-size: 3rem;
	cursor: pointer;
	color:var(--white);
	display: none;
 }
 
 .add-product-form{
	max-width: 50rem;
	background-color: var(--bg-color);
	border-radius: .5rem;
	padding:2rem;
	margin:0 auto;
	margin-top: 2rem;
 }
 
 .add-product-form h3{
	font-size: 2.5rem;
	margin-bottom: 1rem;
	color:var(--black);
	text-transform: uppercase;
	text-align: center;
 }
 
 .add-product-form .box{
	text-transform: none;
	padding:1.2rem 1.4rem;
	font-size: 1.7rem;
	color:var(--black);
	border-radius: .5rem;
	background-color: var(--white);
	margin:1rem 0;
	width: 100%;
 }
 
 .display-product-table table{
	width: 100%;
	text-align: center;
 }
 
 .display-product-table table thead th{
	padding:1.5rem;
	font-size: 2rem;
	background-color: var(--black);
	color:var(--white);
 }
 
 .display-product-table table td{
	padding:1.5rem;
	font-size: 2rem;
	color:var(--black);
 }
 
 .display-product-table table td:first-child{
	padding:0;
 }
 
 .display-product-table table tr:nth-child(even){
	background-color: var(--bg-color);
 }
 
 .display-product-table .empty{
	margin-bottom: 2rem;
	text-align: center;
	background-color: var(--bg-color);
	color:var(--black);
	font-size: 2rem;
	padding:1.5rem;
 }
 
 .edit-form-container{
	position: fixed;
	top:0; left:0;
	z-index: 1100;
	background-color: var(--dark-bg);
	padding:2rem;
	display: none;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100%;
 }
 
 .edit-form-container form{
	width: 50rem;
	border-radius: .5rem;
	background-color: var(--white);
	text-align: center;
	padding:2rem;
 }
 
 .edit-form-container form .box{
	width: 100%;
	background-color: var(--bg-color);
	border-radius: .5rem;
	margin:1rem 0;
	font-size: 1.7rem;
	color:var(--black);
	padding:1.2rem 1.4rem;
	text-transform: none;
 }
 
 .products .box-container{
	grid-template-columns: repeat(auto-fit, 35rem);
	gap:1.5rem;
	justify-content: center;
 }
 
 .products .box-container .box{
	display: flex;
	padding:2rem;
	box-shadow: var(--box-shadow);
	border:var(--border);
	border-radius: 1.8rem;
 }
 
 .products .box-container .box img{
	height: 25rem;
 }
 
 .products .box-container .box h3{
	margin:1rem 0;
	font-size: 2.5rem;
	color:var(--black);
 }
 
 .products .box-container .box .price{
	font-size: 2.5rem;
	color:var(--black);
 }
 
 .shopping-cart table{
	text-align: center;
	width: 100%;
 }
 
 .shopping-cart table thead th{
	padding:1.5rem;
	font-size: 2rem;
	color:var(--white);
	background-color: var(--black);
 }
 
 .shopping-cart table tr td{
	border-bottom: var(--border);
	padding:1.5rem;
	font-size: 2rem;
	color:var(--black);
 }
 
 .shopping-cart table input[type="number"]{
	border: var(--border);
	padding:1rem 2rem;
	font-size: 2rem;
	color:var(--black);
	width: 10rem;
 }
 
 .shopping-cart table input[type="submit"]{
	padding:.5rem 1.5rem;
	cursor: pointer;
	font-size: 2rem;
	background-color: var(--orange);
	color:var(--white);
 }
 
 .shopping-cart table input[type="submit"]:hover{
	background-color: var(--black);
 }
 
 .shopping-cart table .table-bottom{
	background-color: var(--bg-color);
 }
 
 .shopping-cart .checkout-btn{
	text-align: center;
	margin-top: 1rem;
 }
 
 .shopping-cart .checkout-btn a{
	display: inline-block;
	width: auto;
 }
 
 .shopping-cart .checkout-btn a.disabled{
	pointer-events: none;
	opacity: .5;
	user-select: none;
	background-color: var(--red);
 }

.button-entrega {
	cursor: pointer;
	margin-bottom: 2px;
}

.button-entrega:hover {
	cursor: pointer;
    background-color: rgb(255 0 0 / 77%);
    margin-bottom: 2px;
}

.button-entrega:hover::after {
	cursor: pointer;
    background-color: (red);
    margin-bottom: 2px;
}

.checkout-form {
	cursor: pointer;
	background-color: white;
	margin: 5px 10px;
}
 
.inputBox {
	font-size: 18px;
    margin-bottom: 12px;
}

.inputBox input {
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #a8a5a5;
    border-radius: 5px;
    width: 100%;
}

.inputBox select {
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #a8a5a5;
    border-radius: 5px;
	text-align: center;
	padding: 8px;
    width: 100%;
}

.inputBox-2 {
	font-size: 18px;
    margin-bottom: 12px;
}

.inputBox-2 input {
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #a8a5a5;
    border-radius: 5px;
    width: 65%;
}

.inputBox-2 select {
	margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #a8a5a5;
    border-radius: 5px;
    width: 65%;
}
 
 .display-order{
	display: grid;
	max-width: 50rem;
	background-color: var(--white);
	border-radius: .5rem;
	text-align: center;
	padding:1.5rem;
	margin:0 auto;
	margin-bottom: 2rem;
	margin-top: 0;
	box-shadow: var(--box-shadow);
	border:var(--border);
 }
 
 .display-order .span{
	display: inline-block;
	border-radius: .5rem;
	padding: .5rem 0;
	font-size: 2rem;
	color: var(--black);
	margin: .5rem;
 }

 .display-order .span2{
	display: inline-block;
	padding: .5rem 0;
	font-size: 2rem;
	color: var(--black);
	margin: 1.5rem;
 }
 
 .display-order span.grand-total{
	width: 100%;
	background-color: var(--red);
	color:var(--white);
	padding: 1rem 0;
	margin-top: 1rem;
 }
 
 .order-message-container{
	position: fixed;
	top:0; left:0;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding:2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1100;
	background-color: var(--dark-bg);
	width: 100%;
 }
 
 .order-message-container::-webkit-scrollbar{
	width: 1rem;
 }
 
 .order-message-container::-webkit-scrollbar-track{
	background-color: var(--dark-bg);
 }
 
 .order-message-container::-webkit-scrollbar-thumb{
	background-color: var(--blue);
 }
 
 .order-message-container .message-container{
	width: 50rem;
	background-color: var(--white);
	border-radius: .5rem;
	padding:2rem;
	text-align: center;
 }
 
 .order-message-container .message-container h3{
	font-size: 2.5rem;
	color:var(--black);
 }
 
 .order-message-container .message-container .order-detail{
	background-color: var(--bg-color);
	border-radius: .5rem;
	padding:1rem;
	margin:1rem 0;
 }
 
 .order-message-container .message-container .order-detail span{
	background-color: var(--white);
	border-radius: .5rem;
	color:var(--black);
	font-size: 2rem;
	display: inline-block;
	padding:1rem 1.5rem;
	margin:1rem;
 }
 
 .order-message-container .message-container .order-detail span.total{
	display: block;
	background: var(--red);
	color:var(--white);
 }
 
 .order-message-container .message-container .customer-details{
	margin:1.5rem 0;
 }
 
 .order-message-container .message-container .customer-details p{
	padding:1rem 0;
	font-size: 2rem;
	color:var(--black);
 }
 
 .order-message-container .message-container .customer-details p span{
	color:var(--blue);
	padding:0 .5rem;
	text-transform: none;
 }
 
 
 
 @media (max-width:1200px){
 
	.shopping-cart{
	   overflow-x: scroll;
	}
 
	.shopping-cart table{
	   width: 120rem;
	}
 
	.shopping-cart .heading{
	   text-align: left;
	}
 
	.shopping-cart .checkout-btn{
	   text-align: left;
	}
 
 }
 
 @media (max-width:991px){
 
	html{
	   font-size: 55%;
	}
 
 }
 
 @media (max-width:768px){
 
	#menu-btn{
	   display: inline-block;
	   transition: .2s linear;
	}
 
	#menu-btn.fa-times{
	   transform: rotate(180deg);
	}
 
	.header .flex .navbar{
	   position: absolute;
	   top:99%; left:0; right:0;
	   background-color: var(--blue);
	   clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	   transition: .2s linear;
	}
 
	.header .flex .navbar.active{
	   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
 
	.header .flex .navbar a{
	   margin:2rem;
	   display: block;
	   text-align: center;
	   font-size: 2.5rem;
	}
 
	.display-product-table{
	   overflow-x: scroll;
	}
 
	.display-product-table table{
	   width: 90rem;
	}
 
 }
 
 @media (max-width:450px){
 
	html{
	   font-size: 50%;
	}
 
	.heading{
	   font-size: 3rem;
	}
 
	.products .box-container{
	   grid-template-columns: 1fr;
	}
 
 }

 .input-tm{
	padding: 10px;
 }


.form-disabled{
	display: none;
    width: 300px;
    padding: 14px;
}

.form-disabled-2{
	display: none;
    width: 300px;
    padding: 14px;
}

.btn-custom-entrega {
	background-color: rgb(255, 255, 255);
	color: black;
	border: none;
	border-radius: 0;
	text-decoration: none;
	font-size: 2em;
}

.btn-custom-entrega:hover {
	color: white;
	background-color: red;
}



.button-cart {
	color: white;
	display: inline-block;
	position: relative;
	padding: 0px 12px;
}
  
.button__badge {
	background-color: #fa3e3e;
	border-radius: 2px;
	color: white;
   
	padding: 1px 3px;
	font-size: 10px;
	
	position: absolute;
	top: 0;
	right: 0;
}

.loading-primary {
	margin-bottom: 5px;
	margin-right: 8px;
}

.text-custom {
	color: rgba(0, 0, 0, 0.368);
}

.btn-entrega {
	position: relative;
    padding: 0;
    background-color: red;
    color: white;
    margin: 0;
    font-weight: lighter;
    font-size: 2.5rem;
	width: 10px;
}

.modal-body-pers {
	position: relative;
    flex: 1 1 auto;
    padding: 1rem 0;
}
.modal-body {
	padding: 1em 0;
}

.icon-inner {
	color: white;
}

.entrega-text {
	color: white;
    font-weight: lighter;
    margin: 0 10px;
	font-weight: 400;
	display: inline-block;
}

.entrega-text-2 {
	color: white;
    font-weight: lighter;
    display: inline-block;
    margin: 0 10px;
	font-weight: 400;
    font-size: 1.1em;
}

.retirar-text {
	color: white;
    font-weight: lighter;
}

.retirar-text-2 {
	color: white;
    font-weight: lighter;
}

.clock-ajust {
	color: white;
}

.form-cardapio {
	margin-left: 2.5em;
}

#bkfooter-2 {
	background-color: var(--white);
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.swal2-popup {
	background: white;
	font-size: 1.5em;
}

.swal2-title {
	background: white;
	font-size: 1.5em;
}

.text_area {
    padding: 0 55px 0 0;
    border-radius: 5px;
    width: 65%;
}

.icon-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}
  
.s-ion-icon {
	fill: #ffffff;
	width: 25px;
	height: 25px;
}


.custom-modal-body {
	position: relative;
}

.custom-modal-body h3 {
	position: absolute;
	bottom: 30px; /* Ajuste essa propriedade para posicionar o h3 como desejado */
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

#barra-cardapio.descer {
	position: fixed;
	top: 0;
	transition: top 0.3s ease;
	z-index: 999;
	
  } 
  
  /* CSS */
.checkout-form.hidden {
	display: none;
  }
  
  .config_options {
	width: 30%;
    height: 20%;
    background: #fdfdfd;
    margin: 0 35% 0 35%;
  }

  .options {
	font-size: 3em;
    cursor: pointer;
	margin-bottom: 0.4em
  }

  .options:hover {
	background: #f1f1f1;
  }

  .config_space {
	margin-left: 1.5em;
  }

  .logo_config_user {
	width: 6%;
  }
  